.rowC{
    
    justify-content : 'space-between';
    flex-direction:column;
    display: inline-flex; 
}

svg {
    margin-right: 5px;
    color: whitesmoke;
    }

rect{
    background-color: yellowgreen;
    color: whitesmoke;
}

.text-green{
    fill: rgb(128, 248, 7);
}

.text-lightgreen{
    fill: rgb(180, 207, 152);
}

.text-red{
    fill: red;
}
