.rowC{
    
    justify-content : 'space-between';
    flex-direction:column;
    display: inline-flex; 
}

svg {
    margin-right: 5px;
    color: whitesmoke;
    }

rect{
    background-color: yellowgreen;
    color: whitesmoke;
}

